@font-face {
    font-family: manuka;
    src: url(../assets/fonts/manuka-bold.woff2);
    font-weight: 700
}

@font-face {
    font-family: manuka;
    src: url(../assets/fonts/manuka-medium.woff2);
    font-weight: 500
}

@font-face {
    font-family: general-sans;
    src: url(../assets/fonts/general-sans.woff2)
}

@font-face {
    font-family: roboto-mono;
    src: url(../assets/fonts/roboto-mono.woff2)
}

@font-face {
    font-family: sol;
    src: url(../assets/fonts/SolMedium.woff)
}