%l-wrap {
    padding: 32px 32px;
}

body.home {
    color: $main-text-color;
    background-color: $main-bg-color;
}


.home {
    .container {
        position: relative;
        display: grid;
        place-items: center;
        grid-template-columns: 100%;
        height: var(--full-vh);
    }

    .l-header {
        position: initial;
        align-self: start;
        z-index: 2;
        padding-bottom: 0px!important;
        @extend %l-wrap;
    }

    .l-carousel, .l-panels {
        position: absolute;
        z-index: -1
    }

    .l-carousel {
        @include size($screen-md) { display: block }
        @include size($screen-sm) { position: relative }
    }

    .l-index-slider {
        align-self: flex-end;
        padding-bottom: 32px;
        @include size($screen-lg) { width: 224px }
    }
}