.l-carousel {
    width: 100%;
    display: none;
}

.l-index-slider {
    position: relative;
    width: 304px;
}

// default components sub-layouts

.carousel .item {
    width: 70vw;
    aspect-ratio: 1.6;
    background-color: red;
}

.index-slider {
    .item {
        width: 64px;
        background-color: red;
        background-size: cover;
        height: 40px;
        @include size($screen-lg) { height: 36px }
    }

    .owl-nav {
        position: absolute;
        display: block;
        display: flex;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        $dist: 38px;

        .owl-next {
            margin-left: auto;
            svg { margin-right: -$dist }
        }
        .owl-prev svg { margin-left: -$dist }
        .disabled svg { fill: #919190 }
    }

    .l-box {
        position: absolute;
        will-change: transform;
        width: 40px;
        height: 50px;
        left: 12px;
        transform: translateX(0px);
        top: -5px;
        left: 12px;
        z-index: 1;
        @include size($screen-lg) { top: -7px }
    }
}
