@mixin flex($justify: center, $align: center, $direction: row) {
    display: Flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin with-bg($width, $ratio, $url: none) {
    background-size: contain;
    background-repeat: no-repeat;
    width: $width;
    aspect-ratio: $ratio;
}

@mixin hide($duration, $prop: none, $transition: none) {
    opacity: 0;
    visibility: hidden;
    transition-timing-function: $transition;
    transition-property: $prop;
    transition-duration: $duration;
}

@mixin show() {
    opacity: 1;
    visibility: visible;
}

@mixin underline($height, $bg, $op: none, $trans: none, $radius: none) {
    position: relative;
    display: inline-block;

    &:after {
        content: "";
        display: block;
        background: $bg;
        opacity: $op;
        transition: $trans;
        border-radius: $radius;
        height: $height;
        width: 100%;
    }
}

@mixin pos($l: unset, $t: unset, $r: unset, $b: unset, $y-off: 0, $x-off: 0) {
    position: absolute;

    $x-offset: 0;
    $y-offset: 0;

    @if $y-off { $x-offset: $x-off }
    @if $x-off { $y-offset: $y-off }

    transform: translate($x-offset, $y-offset);

    left: $l;
    right: $r;
    top: $t;
    bottom: $b
}

@mixin size($breakpoint) {
    @media screen and (max-width: #{$breakpoint}) { @content }
}
