<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AM Web Studio </title>
</head>
<body class="home">

    <div class="container">

        <header class="header l-header">
            <nav class="header__nav-bar l-header__nav-bar">
                <a href="" class="header__brand l-header__brand">
                    <span class="logo l-logo">
                        <svg viewBox="0 0 300 120">
                            <path d="M432.07004,391.78h-96.19l20.95-28.83h28.15c6.7,0,14.58,0,19.94.34-3.02-4.03-7.71-10.9-11.4-16.26l-20.11-29.66-52.62,74.41h-41.06l71.9-101.39c4.7-6.54,11.57-12.57,22.46-12.57c10.39,0,17.26,5.53,22.12,12.57l31.82123,46.05498L460.2,289.61c4.83-7.04,11.66-12.57,21.99-12.57c10.83,0,17.66,6.03,22.33,12.57L576,391h-40.82l-52.32-74.4-19.99,29.66c-.47.69-1.31,1.88-2.41,3.44-8.11,12.35-15.67864,23.70527-17.05,25.82-.3679.52337-.74009,1.04366-1.11627,1.56106-2.35769,3.39048-9.89948,14.23827-10.22369,14.69894Z" transform="translate(-277.86502-274.41)" fill="#fff"/>
                        </svg>
                    </span>
                    <span class="name l-name"> Web Studio </span>
                </a>
    
                <div class="l-header__menu"> <button id="closer" class="header__menu" >Close</button> </div>
                <div class="l-header__menu"> <button id="opener" class="header__menu">Menu</button> </div>
            </nav>
    
            <div class="header__nav-menu l-header__nav-menu">
                <div class="header__links l-header__links">
                    <div class="link l-link"> <a href="" class="roll" data-delay="350">About</a> </div>
                    <div class="link l-link"> <a href="" class="roll" data-delay="450">Archivio</a> </div>
                </div>
    
                <div class="header__socials l-header__socials">
                    <div class="link l-link"> <a href="" class="roll" data-delay="600">Instagram</a> </div>
                    <div class="link l-link"> <a href="" class="roll" data-delay="700">Telegram</a> </div>
                    <div class="link l-link"> <a href="" class="roll" data-delay="800">Fiverr</a> </div>
                </div>
            </div>
        </header>

        <div class="carousel l-carousel">
            <div class="owl-carousel owl-theme" id="main-owl">
                <div class="item"> </div>
                <div class="item"> </div>
                <div class="item"> </div>
                <div class="item"> </div>
            </div>
        </div>

        <main class="main l-main">
    
            <section class="section l-section" data-color="#72a5c6">
                <h1 class="section__title l-section__title">
                    <div class="title"> <div class="roll">Web Studio</div> </div>
                    <div class="title"> <div class="roll" data-delay="70">Am, the best</div> </div>
                </h1>

                <div class="section__link l-section__link"> 
                    <a href="" class="link l-link roll">Provvisorio</a> 
                </div>
    
                <div class="section__bottom l-section__bottom">
                    <div class="section__info l-section__info">
                        <div class="title"> <div class="roll">Moris</div> </div>
                        <div class="info"> <div class="roll">Scritte che non so</div> </div>
                    </div>
    
                    <div class="section__info l-section__info--right">
                        <div class="title"> <div class="roll">Antonio</div>  </div>
                        <div class="info"> <div class="roll">Scritte che non so</div> </div>
                    </div>
                </div>
            </section>
    
            <section class="section l-section" data-color="#a9a9a9">
                <h1 class="section__title l-section__title">
                    <div class="title"> <div class="roll"> Web Studio</div> </div>
                    <div class="title"> <div class="roll" data-delay="70"> Am, the best</div> </div>
                </h1>

                <div class="section__link l-section__link"> 
                    <a href="" class="link l-link roll">Provvisorio</a> 
                </div>
    
                <div class="section__bottom l-section__bottom">
                    <div class="section__info l-section__info">
                        <div class="title"> <div class="roll">Moris</div> </div>
                        <div class="info"> <div class="roll">Scritte che non so</div> </div>
                    </div>
    
                    <div class="section__info l-section__info--right">
                        <div class="title"> <div class="roll">Antonio</div>  </div>
                        <div class="info"> <div class="roll">Scritte che non so</div> </div>
                    </div>
                </div>
            </section>
    
            <section class="section l-section" data-color="purple">
                <h1 class="section__title l-section__title">
                    <div class="title"> <div class="roll"> Web Studio</div> </div>
                    <div class="title"> <div class="roll" data-delay="70"> Am, the best</div> </div>
                </h1>
    
                <div class="section__link l-section__link"> 
                    <a href="" class="link l-link roll">Provvisorio</a> 
                </div>

                <div class="section__bottom l-section__bottom">
                    <div class="section__info l-section__info">
                        <div class="title"> <div class="roll">Moris</div> </div>
                        <div class="info"> <div class="roll">Scritte che non so</div> </div>
                    </div>
    
                    <div class="section__info l-section__info--right">
                        <div class="title"> <div class="roll">Antonio</div>  </div>
                        <div class="info"> <div class="roll">Scritte che non so</div> </div>
                    </div>
                </div>
            </section>
    
            <section class="section l-section" data-color="black">
                <h1 class="section__title l-section__title">
                    <div class="title"> <div class="roll"> Web Studio</div> </div>
                    <div class="title"> <div class="roll" data-delay="70"> Am, the best</div> </div>
                </h1>

                <div class="section__link l-section__link"> 
                    <a href="" class="link l-link roll">Provvisorio</a> 
                </div>
    
                <div class="section__bottom l-section__bottom">
                    <div class="section__info l-section__info">
                        <div class="title"> <div class="roll">Moris</div> </div>
                        <div class="info"> <div class="roll">Scritte che non so</div> </div>
                    </div>
    
                    <div class="section__info l-section__info--right">
                        <div class="title"> <div class="roll">Antonio</div>  </div>
                        <div class="info"> <div class="roll">Scritte che non so</div> </div>
                    </div>
                </div>
            </section>
    
        </main>

        <div class="panels l-panels">
            <div class="l-panel panel"><img></div>
            <div class="l-panel panel"><img></div>
            <div class="l-panel panel">
                <video autoplay muted loop type="video/mp4" src=""></video>
            </div>
            <div class="l-panel panel"><img></div>
        </div>
        
        <div class="index-slider l-index-slider">
            <div class="owl-carousel owl-theme" id="index-owl">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
            <div class="box l-box" id="box"></div>
        </div>

    </div>

</body>
</html>
